@import url('https://fonts.googleapis.com/css?family=Boogaloo');

$blue: #2196f3;

body {
  padding: 0;
  font-family: 'Boogaloo', cursive;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 709px;
  min-width: 1000px;
}

@media (max-width: 1000px) {
  .background {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.clearFix {
  &::after {
    display: block;
    clear: both;
    content: '';
  } 
}

.hwAcceleration {
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.hide {
  display: none;
}

.Game-h1 {
  text-align: center;
  font-size: 2.6rem;
  color: #90caf9;
  min-width: 585px;
}

.Game-section {
  height: 718px;
}

.Game-BoardSection {
  @extend .Game-section;
  min-width: 600px;
}

.Game-Button {
  color: #f48fb1;
  animation: jiggle 0.75s infinite reverse linear;
  display: inline-block;
  transition: color 0.25s;
  cursor: pointer;
  &:hover {
    color: #f06292;
  }
}

.Board-Section {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.BoardSquare-box {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.PlayerDash-DashRow {
  @extend .clearFix;
  margin-top: 10px;
  font-size: 1.2em;
  color: $blue;
  border-bottom: 1px solid $blue;
}

.PlayerDash-Container {
  text-align: center;
  max-width: 175px;
  min-width: 150px;
  margin-top: 100px; 
}

.CloudText-svg {
  cursor: default;
  animation: pulse 1s infinite alternate linear;
}

.CloudText-Container {
  text-align: center;
  max-width: 200px;
  font-size: 18px;
}

.CloudText-Text {
  margin-top: 15px;
  color: #f8bbd0;
}

.CheckerSvg-flash {
  animation: flash 0.25s infinite alternate linear;
}

@keyframes flash {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  50% {
    filter: brightness(120%);
    transform: scale(1.2);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  } 
}


@keyframes jiggle {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  } 
}
