@import url('https://fonts.googleapis.com/css?family=Boogaloo');

body {
  padding: 0;
  font-family: 'Boogaloo', cursive;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 709px;
  min-width: 1000px;
}

@media (max-width: 1000px) {
  .background {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

h1 {
  font-size: 2.6rem;
  color: #90CAF9;
}

.col-middle {
  margin-top: 150px;
}

.board {
  margin-top: 50px;
}

.play-link {
  color: #F48FB1;
  animation: .75s infinite reverse jiggle;
  animation-timing-function: linear;
  transform: rotate(10deg);
  display: inline-block;
}

@keyframes jiggle {
  0% {
  transform: rotate(10deg);
    }
  50% {
  transform: rotate(-10deg);
  }
}
